/* Styling for the main container */
.container {
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .main-heading {
    color: #333;
  }
  
  /* Styling for the menu tabs */
  .menu-tabs {
    margin-top: 20px;
    text-align: center;
  }

  
  .menu-tab button {
    margin: 5px;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffc107;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .menu-tab button:hover {
    background-color: #ff9800;
  }
  
  /* Styling for the menu items */
  .menu-items {
    padding: 20px 0;
  }
  
  .item1 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
  }
  
  .item1:hover {
    transform: scale(1.05);
  }
  
  .Item-inside {
    padding: 10px;
  }
  
  .img-div img {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .main-title h1 {
    font-size: 1.25rem;
    color: #333;
    margin: 0;
  }
  
  .main-title p {
    font-size: 0.875rem;
    color: #777;
  }
  
  .menu-price-book {
    padding-top: 10px;
  }
  
  .price-book-divide h2 {
    font-size: 1rem;
    color: #333;
    margin: 0;
  }
  
  .price-book-divide button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .price-book-divide button:hover {
    background-color: #0056b3;
  }
  
  .menu-price-book p {
    font-size: 0.75rem;
    color: #777;
    margin-top: 5px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .item1 {
      margin-bottom: 20px;
    }
  
    .menu-tab {
      flex-direction: column;
    }
  
    .menu-tab button {
      width: 100%;
      margin: 5px 0;
    }
  }
  